
.navbar-default{
    border-bottom: 1px solid #cccccc;
}

.form-group {
    margin-bottom: 1rem;
}

#inputValue{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    border-radius: .25rem;
}

#movie-searchable{
    margin-top: 20px;
    margin-bottom: 50px;
}

#search{
    outline: none;
    width: 20%;
}

section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

section img{
    width: 150px;
    margin: 20px;
    transition: 250ms all;
}

section img:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.movie{
    margin-bottom: 50px;
}

.content{
    border: 1px solid lightgrey;
    padding: 20px;
    display: none;
}

.content div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display{
    display: block;
}

#content-close{
    cursor: pointer;
    color: red;
}




/* MOVIE.HTML */

.container{
    padding: 0 !important;
}

.colPoster img{
    width: 100%;
}