:root {
  --darkMint: #078487;
  --litteDarkMint: #84e8df;
  --lightMint: #97fcf0;
  --lightOrange: #ffb89e;
}

* {
  background-color: white;
}

body {
  font-size: 20px;
  background-color: white;
}
.navbar-default {
  border-bottom: 1px solid #cccccc;
}

#movie-searchable {
  margin-top: 20px;
  margin-bottom: 50px;
}

section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

section img {
  width: 150px;
  margin: 20px;
  transition: 250ms all;
}

section img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}

.movie {
  margin-bottom: 50px;
}

.content {
  border: 1px solid lightgrey;
  padding: 20px;
  display: none;
}

.content div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.content-display {
  display: block;
}

#content-close {
  cursor: pointer;
  color: red;
}

/* MOVIE.HTML */

.container {
  padding: 0 !important;
}

.colPoster img {
  max-height: 80vh;
}

/* TRAILER */

.colTrailer {
  margin-top: 20px;
}

.bg-color-light {
}

.navbar-brand {
  font-size: 30px;
  color: #0f0f0f;
  font-weight: 700;
}

.highligh-logo {
  color: var(--lightOrange);
}

.greeting-text {
  color: #ffb89e;
}

.title-color {
  color: var(--darkMint);
}

#search {
  top: 0;
  right: 0;
  height: 100%;
  background: #ced4da;
  border-radius: 20px;
  outline: none;
}

.form-nav {
  min-width: 50%;
}

.navbar-custom {
  border-bottom: 1px solid #ced4da;
}

#inputValue {
  outline: none;
  border-radius: 20px;
  display: block;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
